snippet article "add to the articles.json" b
{
	"_id": "a-${1:05}",
	"_parentId": "co-${2:05}",
	"_type": "article",
	"_classes": "",
	"title": "${3:a-$1}",
	"displayTitle": "$4",
	"body": "$5"
}$0
endsnippet

# vim:ft=snippets:foldmethod=indent:
