# to go in config.json
snippet devtools "tools for developing and testing adapt courses, add this to config.json" b
"_devtools": {
	"_isEnabled": ${1:true},
	"_theme": "${2:theme-dark}"
},$0
endsnippet

# vim:ft=snippets:
# https://github.com/cgkineo/adapt-devtools
