# add to component in component.json
snippet hint "adds a small icon to a component that display additional information" b
"_hint": [
	{
		"title": "${1:Adapt Hint}",
		"body": "${2:An extension that adds a small, clickable icon to a component that displays additional information.}"
	},
	{
		"title": "${3:Additional}",
		"body": "${4:Information}"
	}
],$0
endsnippet

# https://github.com/cgkineo/adapt-hint/blob/master/example.json
# vim:ft=snippets:

