snippet inspector "add this to the config.json" b
"_inspector": {
	"_isEnabled": ${1:true},
	"_disableOnTouch": true,
	"_tracUrl": ""
}$0
endsnippet

# https://github.com/tomgreenfield/adapt-inspector/blob/master/example.json

# vim:ft=snippets:
