snippet text "a simple text component" b
{
	"_id": "c-${1:05}",
	"_parentId": "b-${2:$1}",
	"_type": "component",
	"_component": "text",
	"_classes": "",
	"_layout": "${3:full}",
	"title": "$4",
	"displayTitle": "${5:$4}",
	"body": "$6",
	"instruction": "$7",
	"_pageLevelProgress": {
		"_isEnabled": ${8:true}
	}
}$0
endsnippet

# vim:ft=snippets:fdm=indent:
